CREATE TABLE IF NOT EXISTS capsules_favorites ( user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE, capsule_id UUID NOT NULL REFERENCES capsules(id) ON DELETE CASCADE, created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL, PRIMARY KEY (user_id, capsule_id) );
